*~
*.swp
.DS_Store
tags
mochad
*.out
*.o
*.a
*.so
*.dylib
*.dSYM/
*.gcda
*.gcno
*.gcov
.deps/
autom4te.cache/
autoscan.log
config.log
config.status
config.cache
compile
config.guess
config.sub
test-driver
ylwrap
depcomp
missing
install-sh
aclocal.m4
Makefile
!opkg/Makefile
Makefile.in
config.h*
!/config.h
configure
build/
build-*/
