*~
*.swp
.DS_Store
tags
mochad
*.out
*.o
*.a
*.so
*.dylib
*.pyc
__pycache__/
*.dSYM/
__pycache__/
*.gcda
*.gcno
*.gcov
.deps/
.dirstamp
autom4te.cache/
autoscan.log
config.log
config.status
config.cache
compile
config.guess
config.sub
test-driver
ylwrap
depcomp
missing
install-sh
aclocal.m4
Makefile
!opkg/Makefile
Makefile.in
config.h*
!/config.h
configure
scripts/mochad-redux-setup
build/
build-*/
/mochad-redux-*.tar.gz
/mochad-redux-[0-9]*/
*support-bundle*.tar.gz
