[Unit]
Description=Mochad a TCP gateway service for X10-RF (CM15A/CM15Pro/CM19A)
Requires=systemd-udevd.service
After=systemd-udevd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mochad -d
User=mochad
Group=mochad
SupplementaryGroups=x10
UMask=0022
Restart=on-failure

[Install]
WantedBy=multi-user.target
